body {
    background-color: white;
}
/*TODO: сейчас котик обрезается. как сделать, чтобы не обрезалась картинка?*/
header {
    height: 300px;
    width: 100%;
    background-image: url("images/kitten_header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-menu__list {
    background-color: rgba(255 182 193 / 0.5);
    height: 50px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.main-menu__button {
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
    text-align: center;
    background-color: transparent;
    border-style: hidden;
    width: 120px;
    height: 50px;
    cursor: pointer;
}

.main-menu__header {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: azure;
    margin-top: 30px;
    position: relative;
}

/*TODO:вопрос: как правильнее позиционировать кнопку? относительно чего? */
.main-menu__consultation-button {
    margin: 10px;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    color: white;
    font-size: 12pt;
    background-color: transparent;
    border-color: lightpink;
    border-radius: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

}

.main-menu__consultation-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("images/ea5ecfe8eca5a2927813c96c1ff60151.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    margin-top: 20px;
}