body {
    background-color: white;
    font-family: "Open Sans", sans-serif;
}

.header-logo {
    width: 70px;
    height: 70px;
}

.header {
    display: flex;
    background-color: rgba(255 182 193 / 0.5);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.header-nav__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.header-nav__list>li{
    position: relative;
}
.header-nav__button {
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
    text-align: center;
    background-color: transparent;
    border-style: hidden;
    width: 120px;
    height: 50px;
    cursor: pointer;
}
.header-nav__submenu {
    display: none;
    list-style-type: none;
}

li:hover ul {
    display: block;
    position: absolute;
    background-color: rgba(255 182 193 / 1);
}

.preview-image {
    width: 100%; /* Ширина контейнера */
    height: 600px; /* Высота контейнера */
    background-image: url("images/kitten_header.jpg");
    background-size: cover; /* Ширина — 100%, высота — автоматическая */
    background-repeat: no-repeat; /* Запрещаем повторение */
    background-position: center center; /* Центрируем по горизонтали и выравниваем по верху */
    position: relative;
}

.preview-image__header {
    font-family: "Open Sans", sans-serif;
    font-size: 25pt;
    text-align: center;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

/*!*TODO:вопрос: как правильнее ннастроить позиционирование по всей странице? ощущение что щас через опу? *!*/
.preview-image__consultation-button {
    font-family: "Open Sans", sans-serif;
    position: absolute;
    color: white;
    font-size: 12pt;
    background-color: transparent;
    border-color: lightpink;
    border-radius: 25px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

}

.preview-arrow-icon {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}